{% extends 'base/base.html' %}

{% block content%}
{% load bootstrap4 %}  
<!-- {% bootstrap_css %} -->
{% bootstrap_javascript jquery='full' %} 
<div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header"><strong>Edit</strong> Exam</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                  <form method='POST'>{% csrf_token %} 
                    {{ form.as_p }}  
                    {{form.media}}
                    <button class="btn btn-sm btn-primary" type="submit"> Update</button>
                  </form> 

                </div>
                
                
            </div>
                
        
         
        </div>
      </div>
    </div>


{% endblock %}